* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: aquamarine;
  padding: 0.75rem;
}

nav > a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.content {
  margin: 0.75rem;
}

.content--title{
  text-align: center;
}

.content--form {
  margin: 1rem auto;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: gray;
  padding: 0.75rem;
  width: 100%;
  color: #fff;
  text-align: center;
}